/* font family  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;1,400;1,500&display=swap');

/*  */
*{
  font-family: 'Poppins', sans-serif;
}
body{
  background: #F3F1FF;
}
main{
  display: flex;
  justify-content: center;
}

        /* .top-players */ 

.container{
  width: 870px;
  background: #FFFFFF;
  ;
}
.top-players{
  padding: 30px 0 42px 33px;
}
.section-title{
  color: #562EFF;
  font-size: 24px;
  margin-top: 3px;

}
.players{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player{
  display: flex;
  align-items: center;
}
.player img{
  width: 56px;
  height: 56px;
}
.player h3{
  margin-left: 10px;
}
hr{
  border: 1px solid #D1D1D1;
  margin: 0 33px 0 30px;
}

      /* top-blog */


.top-blog{
  padding: 30px 58px 35px 30px;
}
.top-blog > h2{
  color: #562EFF;
  font-size: 24px;
  margin-top: 3px;
}
.blog{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
}
.blog-child{
  display: flex;
}
.blog-child img{
  width: 177px;
  height: 117px;
}
.blog-child-text{
  margin-left: 16px;
  margin-top: 5px;
}
.blog-title{
  display: block;
  font-size: 20px;
  margin: 0 0 5px 0;
}
.blog-credit{
  font-size: 16px;
  margin: 0;
}
.blog-text-by{
  color: #9F9F9F;
}
.blog-text-danny{
  color: #562EFF;
}

/* end top blog  */

/* start latest course  */
.latest-course{
  padding: 30px 58px 35px 30px;
}
.latest-course > h2{
  color: #562EFF;
  font-size: 24px;
  margin-top: 3px;
}
.courses{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.image img{
  width: 224px;
  height: 104px;
}
.ract-heading, .powerpoint-heading, .javascript-heading{
  margin-top: 10px;
}
.ract-heading h2{
  font-size: 20.03px;
  margin: 0;
}
.ract-small-heading h3{
  font-size: 
  14.69px;
  color: #ED6B4F;
  margin: 0;
}
.powerpoint-heading h2{
  font-size: 20.03px;
  margin: 0;
}
.powerpoint-small-heading h3{
  font-size: 14.69px;
  color: #ED6B4F;
  margin: 0;
}
.javascript-heading h2{
  font-size: 20.03px;
  margin: 0;
}
.javascript-small-heading h3{
  font-size: 14.69px;
  color: #ED6B4F;
  margin: 0;
}

/* rating  */
.rating{
  display: flex;
}
.rating a{
  text-decoration: none;
  color: #FFC014;
  font-size: 1.2em;
}
.rating span{
  color: 
  #A2A2A2;
}
.time-side i{
  color: 
  #FF4A60;
}
.time-side{
  color: 
  #FF4A60;
  background: #FFE4E8;
  border-radius: 14.6913px;
  margin-left: 20px;
  font-size: 1.1em;
}
.time-side span{
  color: #FF4A60;
}